In [3]:
import os, sys
os.environ.setdefault('DJANGO_SETTINGS_MODULE', 'ISPL_project.settings')
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"
import django
django.setup()

In [4]:
from ISPL_app.models import Student, Team
#from ISPL_app.serializer import *
# from collections.abc import Mapping
# from collections.abc import Sequence

In [3]:
# student field 

# {"name":"vicky","contact":"94747394","email":"vick123@gmail.com","school_name":"bbbc school","address":"bangalore"}

# team field

# {"team_name":"garud","project_idea":"bvb jfj jskf","project_discrapition":"xcvbnmghj"}

In [5]:
# registration api json format




student = {
    "id":"1",
    "team_name":"kings",
    "project_idea": "aaaaaaaa",
    "project_discrapition": "ppppppppppppp",
    "students": [{
        "id":1,
        "name": "raju",
        "contact": "0399879",
        "email": "raju@gmail.com",
        "school_name": "jaipur school",
        "address": "jaipur ram nagar",
        "is_lead":"True"
        
    },
  {
      "id":2,
      "name": " kumar",
      "contact":"1235247979",
      "email": "k123@gmail.com",
      "school_name": " school",
      "address": "khejroli jaipur",
      "is_lead":"False"
      
  }]}

In [ ]:
students = Student.objects.all()
for ele in students:
    print(ele)

In [ ]:
teams = Team.objects.all()
for i in teams:
    print(i.id,i.team_name,i.student,)

In [ ]:
# Update api

In [6]:
student = {
    "id":"1",
    "team_name":"dddlg",
    "project_idea": "lsjdj",
    "project_discrapition": "",
    "students": [{
        "id":1,
        "name": "raju",
        "contact": "0399879",
        "email": "raju@gmail.com",
        "school_name": "jaipur school",
        "address": "jaipur ram nagar",
        "is_lead":"True"
        
    },
  {
      "id":2,
      "name": " kumar",
      "contact":"1235247979",
      "email": "k123@gmail.com",
      "school_name": " school",
      "address": "khejroli jaipur",
      "is_lead":"False"
      
  }]}

In [8]:

team_name = student["team_name"]
project_idea = student["project_idea"]
project_discrapition = student["project_discrapition"]
student_data = student["students"]
#print(student_data)
T2 = Team.objects.get(pk = 1)
print(T2)
T2.team_name = team_name
T2.project_idea = project_idea
T2.project_discrapition = project_discrapition
#T2.save()
for ele in student_data:
    pk = ele["id"]
    contact = ele["contact"]
    name = ele["name"]
    email = ele["email"]
    school_name = ele["school_name"]
    address = ele["address"]
    is_lead = ele["is_lead"]
    S = Student.objects.get(pk = pk)
   # print(S)
    S.name = name
    S.contact = contact
    S.email = email    
    S.school_name = school_name
    S.address = address
    S.is_lead = is_lead
   # S.save()

kings

In [ ]:
class A:
    def __init__(self,name):
        name = name
    x = 5
    y = 3
    z = 7
    
aa = A("vikash")
aa.z = 3
print(aa.z)
print(aa.name)

In [ ]:
S = Student.objects.get(id = 1)
a = S.name = "name"
b = S.contact = "1235247979"
c = S.email = "kumar123@gmail.com"    
d = S.school_name = "Rama school"
e = S.address = "khejroli jaipur"
f = S.is_lead = True
ss = Student(a,b,c,d,e,f)

print(a,b,c,d,e,f)

In [ ]:
name = student0.name
    contact = student0.contact
    email = student0.email
    school_name = student0.school_name
    address = student0.address
    is_lead = student0.is_lead

In [ ]:
S = Student.objects.create(s00.name=name, s00.contact=contact, s00.email=email, s00.school_name=school_name, s00.address=address, s00.is_lead = is_lead)

In [ ]:
citys = Team.objects.select_related().all()
for c in citys:
    print()

In [4]:
team_name = student["team_name"]
project_idea = student["project_idea"]
project_discrapition = student["project_discrapition"]


student_data = student["students"]
T1 = Team(team_name=team_name, project_idea=project_idea, project_discrapition=project_discrapition)
T1.save()
for stu in student_data:
    name = stu["name"]
    contact = stu["contact"]
    email = stu["email"]
    school_name = stu["school_name"]
    address = stu["address"]
    is_lead = stu["is_lead"]
    S1 = Student(name=name, contact=contact, email=email, school_name=school_name, address=address, is_lead = is_lead)
    S1.save()
    T1.student.add(S1)

NameError: name 'student' is not defined

In [ ]:


team_name = student["team_name"]
project_idea = student["project_idea"]
project_discrapition = student["project_discrapition"]


student_data = student["students"]
for stu in student_data:
    name = stu["name"]
    contact = stu["contact"]
    email = stu["email"]
    school_name = stu["school_name"]
    address = stu["address"]
    S1 = Student(name=name, contact=contact, email=email, school_name=school_name, address=address)
    S1.save()
T1 = Team(team_name=team_name, project_idea=project_idea, project_discrapition=project_discrapition)
T1.save()

In [ ]:
S1 = Student(name=name, contact=contact, email=email, school_name=school_name, address=address)
S1.save()

In [ ]:
T1 = Team(team_name=team_name, project_idea=project_idea, project_discrapition=project_discrapition)
T1.save()

In [11]:
# registration api json format




student = {
    "id":"1",
    "team_name":"chand",
    "project_idea": "aaaaaaaa",
    "project_discrapition": "ppppppppppppp",
    "students": [{
        "id":1,
        "name": "suresh kumar",
        "contact": "039938279",
        "email": "raju@gmail.com",
        "school_name": "jaipur school",
        "address": "jaipur ram nagar",
        "is_lead":"True"
        
    },
  {
      "id":2,
      "name": "anil kumar",
      "contact":"13524979",
      "email": "k123@gmail.com",
      "school_name": " school",
      "address": "khejroli jaipur",
      "is_lead":"False"
      
  }]}

In [12]:

# print(data)
team_name = student["team_name"]
# print("team ....",team_name)
project_idea = student["project_idea"]
print("project.....",project_idea)
project_discrapition = student["project_discrapition"]


T1 = Team(team_name=team_name, project_idea=project_idea, project_discrapition=project_discrapition)
T1.save()
student =student["students"]
# print(student)
for ele in student:
    print(ele)
    name = ele["name"]
    contact = ele["contact"]
    email = ele["email"]
    school_name = ele["school_name"]
    address = ele["address"]
    is_lead = ele["is_lead"]
    S1 = Student(name=name, contact=contact, email=email, school_name=school_name, address=address,is_lead = is_lead)
    S1.save()
    T1.student.add(S1)
print("done")

project..... aaaaaaaa
{'id': 1, 'name': 'suresh kumar', 'contact': '039938279', 'email': 'raju@gmail.com', 'school_name': 'jaipur school', 'address': 'jaipur ram nagar', 'is_lead': 'True'}
{'id': 2, 'name': 'anil kumar', 'contact': '13524979', 'email': 'k123@gmail.com', 'school_name': ' school', 'address': 'khejroli jaipur', 'is_lead': 'False'}
done

# Many To Many Relationship

In [6]:
sss = Student.objects.all()
ttt = Team.objects.all()
print(sss)
print(ttt)

<QuerySet [<Student: kartoos,9509,vikash@gmail.com,jaipur school,rampur>, <Student: vicky,59394447,vvvv@gmail.com,jaipur school,jaipur>]>
<QuerySet [<Team: kings>]>

In [10]:
ss1 = Student.objects.get(id = 1)
tt1 = Team.objects.get(id = 1)
print(ss1)
print(tt1)

vicky,59394447,vvvv@gmail.com,jaipur school,jaipur
kings

In [26]:
ss2 = Student.objects.get(pk = 1)
print(type(ss2))

<class 'ISPL_app.models.Student'>