In [1]:
import os, sys
os.environ.setdefault('DJANGO_SETTINGS_MODULE', 'ISPL_project.settings')
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"
import django
django.setup()

In [2]:
from ISPL_app.models import *

In [3]:
# student field 

# {"name":"vicky","contact":"94747394","email":"vick123@gmail.com","school_name":"bbbc school","address":"bangalore"}

# team field

# {"team_name":"garud","project_idea":"bvb jfj jskf","project_discrapition":"xcvbnmghj"}

In [11]:
# registration api json format




student = {
    
    "team_name":"kings",
    "project_idea": "llakkdm  jdj",
    "project_discrapition": "dfghjkl",
    "students": [{"name": "babu",
    "contact": "039476384",
    "email": "babu@gmail.com",
    "school_name": "jaipur school",
    "address": "jaipur"
        
    },
  {
      "name": "lala",
      "contact":"78749",
      "email": "Ram123@gmail.com",
      "school_name": "Rama school",
      "address": "khejroli"
      
  }]}

In [12]:
students = Student.objects.all()
print(students)

<QuerySet [<Student: Vikash Kumar,950983858,vicky123@gmail.com,jaipur school,jaipur>, <Student: pooja,74685849,pooja123@gmail.com,Rama school,khejroli>]>

In [13]:
teams = Team.objects.all()
teams

In [16]:
team_name = student["team_name"]
project_idea = student["project_idea"]
project_discrapition = student["project_discrapition"]


student_data = student["students"]
for stu in student_data:
    name = stu["name"]
    contact = stu["contact"]
    email = stu["email"]
    school_name = stu["school_name"]
    address = stu["address"]
    S1 = Student(name=name, contact=contact, email=email, school_name=school_name, address=address)
    S1.save()
T1 = Team(team_name=team_name, project_idea=project_idea, project_discrapition=project_discrapition)
T1.save()

AttributeError: 'Team' object has no attribute 'Student'

In [18]:
T1.Student.all()
print(T1)

AttributeError: 'Team' object has no attribute 'Student'

In [ ]:


team_name = student["team_name"]
project_idea = student["project_idea"]
project_discrapition = student["project_discrapition"]


student_data = student["students"]
for stu in student_data:
    name = stu["name"]
    contact = stu["contact"]
    email = stu["email"]
    school_name = stu["school_name"]
    address = stu["address"]
    S1 = Student(name=name, contact=contact, email=email, school_name=school_name, address=address)
    S1.save()
T1 = Team(team_name=team_name, project_idea=project_idea, project_discrapition=project_discrapition)
T1.save()

In [ ]:
S1 = Student(name=name, contact=contact, email=email, school_name=school_name, address=address)
S1.save()

In [ ]:
T1 = Team(team_name=team_name, project_idea=project_idea, project_discrapition=project_discrapition)
T1.save()

# Many To Many Relationship